<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login Link - Muscle to Movement</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
<table class="content-card">
  <tr>
    <td><h1>Login Link</h1></td>
  </tr>
  <tr>
    <td>
      <p>
        Click the button below to log into your account.
        This link will expire after 7 days.
      </p>
    </td>
  </tr>
  <tr>
    <td class="action-button-wrapper">
      <a class="action-button" href="{{loginLink}}">Login</a>
    </td>
  </tr>
</table>
</body>
</html>